<div class='blog-container'>
  {{#each blogPosts as |post|}}
    <div class='blog-post'>
      <h2>{{post.title}}</h2>
      <p>{{post.content}}</p>
      <p>{{post.author}}</p>
      <p>{{post.date}}</p>
    </div>
</div>
  {{/each}}

  <div class='add-blog-post'>
    <h2>
      Create blog post
    </h2>
    <form class='new-post-form'>
      <label for='title'>
        Title:
      </label>
      <br />
      <textarea id='post-title' name='title'>
        {{title}}
      </textarea>
      <br />
      <label for='content'>
        Content:
      </label>
      <br />
      <textarea id='post-content' name='content'>
        {{content}}
      </textarea>
      <br />
      <label for='author'>
        User:
      </label>
      <br />
      <textarea id='post-author' name='author'>
        {{author}}
      </textarea>
      <br />
      <br />
      <label for='date'>
        Date:
      </label>
      <br />
      <textarea id='post-date' name='date'>
        {{date}}
      </textarea>
      <br />
      <button type='submit' value='submit'>
        Submit
      </button>
    </form>
  </div>

  <script src="/js/add-post.js"></script>